<header>
  <p>
    <mat-toolbar color="primary" style="padding: 40px; height: 100px;">

      <span class="logo">DevTechStore</span>
      <span class="example-spacer"></span>

      <div class="search-container">
        <input class="search-bar" type="text" placeholder="Busca">
        <div class="button-search">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>

      <section>
        <div class="example-button-row">
          <div class="menu">
            <a mat-button href="#" target="_self">Produtos</a>
            <a mat-button href="#" target="_self">Contato</a>
          </div>
        </div>
      </section>

      <button matBadge="2" matBadgeColor="accent" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</header>